
#calculeter{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'operator operator operator operator'
    'main main main sidebar'
    'main main main sidebar'
    'main main main sidebar'
    'main main main sidebar';
    width: 70vw;
    height: 70vh;
    border: 3px solid black;
}

#my_resulte{
    grid-area: header;
    background-color: grey;
    color: aliceblue;
    text-align: right;
}

#equal_id{
    grid-area: sidebar;
}